html, body {
    height: calc(100% - 5px);
    font-size: 25px;
    color: white;
    box-sizing: border-box;
    }

.header {
    background-color: #afab00;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    }

.container {
	height: calc(100% - 100px);
	display: flex;
	margin: 5px 0 5px 0;
}

.footer {
    background-color: #af0036;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.sidebar {
    background-color: #3737be;
    width: 110px;
    height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
   
   
}

.content {
	width: 100%;
	height: 100%;
	

}

.main-content {
    background-color: #af4b00;
	height: 85%;
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
	
    
}

.other-content {
    background-color: #49af00;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 0 5px;
    
}

.checkbox {
  	position: absolute;
  	z-index: -1;
  	opacity: 0;
 	margin: 10px 0 0 20px;
}
.checkbox + label {
  	position: relative;
 	padding: 0 0 0 60px;
  	cursor: pointer;
}
.checkbox + label:before {
  	content: '';
  	position: absolute;
 	top: -4px;
  	left: 0;
  	width: 50px;
  	height: 26px;
  	border-radius: 13px;
  	background: #CDD1DA;
  	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  	transition: .2s;
}
.checkbox + label:after {
  	content: '';
  	position: absolute;
  	top: -2px;
  	left: 2px;
  	width: 22px;
  	height: 22px;
  	border-radius: 10px;
  	background: #FFF;
  	box-shadow: 0 2px 5px rgba(0,0,0,.3);
  	transition: .2s;
}
.checkbox:checked + label:before {
  	background: #9FD468;
}
.checkbox:checked + label:after {
  	left: 26px;
}
.checkbox:focus + label:before {
  	box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}
.from {

	margin-left: auto;
	margin-right: auto;

}
.form .form-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2px;
}