html, body {
    height: calc(100% - 5px);
    font-size: 25px;
    color: white;
    box-sizing: border-box;
}

.header {
    background-color: #afab00;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.container {
	height: calc(100% - 100px);
	display: flex;
	margin: 5px 0 5px 0;
}

.footer {
    background-color: #af0036;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.sidebar {
    background-color: #3737be;
    width: 110px;
    height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;   
}

.content {
	width: 100%;
	height: 100%;
}

.main-content {
    background-color: #af4b00;
	height: 85%;
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;	   
}

.other-content {
    background-color: #49af00;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 0 5px;   
}

.from {

	margin-left: auto;
	margin-right: auto;

}
.form .form-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	margin-top: 5px;
}
.button{
	border-radius: 5px;
	background-color: rgba(0, 188, 242, 1);
	 
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.button:hover {
    background-color: rgba(0, 150, 242, 1);
}

.button:active {
    box-shadow: inset 2px 2px 3px ;
}
