doctype html
html
	head
		meta(charset="UTF-8")
		title howe work 05 - home

	body

		div(class="container" style="width: 300px")
			div(class="header")
				block header
			div(class="navigation")
				block navigation
			div(class="content" style="padding-left: 10px")
				block content
			div(class="footer")
				block footer