extends ./_page_template.pug

block header
    h1(id="Up") Home

    //vars for index.pug document
    - 
        var paragraphsOne = [
            {
                id: 'p1',
                header: 'Paragraph 1',
                content: 'Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.'
            },
            {
                id: 'p2',
                header: 'Paragraph 2',
                content: 'Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.'
            },
            {
                id: 'p3',
                header: 'Paragraph 3',
                content: 'Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.'
            }
        ];

        var paragraphsTwo = [
            {
                id: 'p4',
                header: 'Paragraph 4',
                content: 'Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интеpнет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.'
            },
            {
                id: 'p5',
                header: 'Paragraph 5',
                content: 'Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.'
            },
            {
                id: 'p6',
                header: 'Paragraph 6',
                content: 'Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.'
            }
        ];

        var headerLinks = [
            {
                href: "/",
                text:'home'
            },
            {
                href: "./about.html",
                text:'about'
            }
        ]

block navigation
    
    div Navigation: 
    
        each headerLink in headerLinks
            a(href= headerLink.href)= headerLink.text 
            span  

        br
        hr

        each paragraph in paragraphsOne
            a(href='#' + paragraph.id)= paragraph.header
            span  
        
        br

        each paragraph in paragraphsTwo
            a(href='#' + paragraph.id)= paragraph.header
            span  
                
block content
    
    each paragraph in paragraphsOne
        include ./_template_paragraph.pug

    each paragraph in paragraphsTwo
        include ./_template_paragraph.pug
    
block footer

    hr

    a(href= "#Up") Up
    span  
    a(href= "./about.html#Other") About other